<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1" style="border-collapse:collapse;">
	  <thead>
	    <tr>
	      <th>id</th>
	      <th>name</th>
	      <th>pass</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="user: ${userDto}">
	      <td th:text="${user.id}"></td>
	      <td th:text="${user.name}"></td>
   	      <td th:text="${user.pass}"></td>
	    </tr>
	  </tbody>
	</table>
</body>
</html>