<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>도서관리</title>
    <link rel="stylesheet" href="./css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="header">
        <a href="index.html"> <img src="./img/ssafy_logo.png" class="ssafy_logo" /></a>
        <p class="logo">도서관리</p>
      </div>
      <div>
        <h1 class="underline">도서 목록</h1>
        <div style="text-align: right">
          <button>도서 등록</button>
        </div>
        <div>
          <table>
            <colgroup>
              <col style="width: 5%" />
              <col style="width: 20%" />
              <col style="width: 40%" />
              <col style="width: 20%" />
              <col style="width: 15%" />
            </colgroup>
            <thead>
              <tr>
                <th>번호</th>
                <th>ISBN</th>
                <th>제목</th>
                <th>저자</th>
                <th>가격</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(book, index) in books" @click="getIndex(book.userIsbn);">
                <td>{{index + 1}}</td>
                <td>{{book.userIsbn}}</td>
                <td>{{book.userTitle}}</td>
                <td>{{book.userAuthor}}</td>
                <td>{{book.userPrice}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div v-if="books.length = 0">게시글이 없습니다.</div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        name: "list",
        data() {
          return {
            // 도서목록을 저장할 배열
            books: [],
          };
        },
        created() {
          let bookKeys = Object.keys(localStorage);
          for (i = 0; i < bookKeys.length; i++) {
            let tempBook = localStorage.getItem(bookKeys[i]);
            this.books.push(JSON.parse(tempBook));
          }
        },
        methods: {
          getIndex(isbn) {
            this.moveView(isbn);
          },
          moveView(isbn) {
            location.href = "view.html?isbn=" + isbn;
          },
        },
      });
    </script>
  </body>
</html>
