<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
    <typeAliases>
        <typeAlias type="com.ssafy.guestbook.model.GuestBookDto" alias="guestbook" />
        <typeAlias type="com.ssafy.guestbook.model.MemberDto" alias="member" />
    </typeAliases>
    <!-- <mappers>
        <mapper resource="member.xml" />
        <mapper resource="guestbook.xml" />
    </mappers> -->
</configuration>


